* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.header {
    background-color: blueviolet;
    color: white;
    height: 80px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont {
    display: flex;
    justify-content: space-between;
}

.block {
    width: 30%;
    margin: 5px;
    margin-bottom: 10px;
    background-color: teal;
    padding: 15px;
}

.block>h1 {
    margin-bottom: 10px;
}