@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body {
    background-color: rgb(100, 170, 100);
    color: rgb(47, 47, 47);

    font-size: 32px;
    font-weight: normal;
    font-family:  'Montserrat', sans-serif;
}

a {
    color: blueviolet;
    text-decoration: none;
    font-weight: 300;
    font-size: 20px;
}

li {
    list-style-type: none;
}

ul {
    color: black;
    margin-left: 0; 
    padding-left: 0;
}